@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font: Borlow */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg__gradient {
  background: linear-gradient(90deg, #028de4 0%, #f31977 49.14%, #aa09c5 100%);
}

.text__gradient {
  background: linear-gradient(90deg, #028de4 0%, #f31977 49.14%, #aa09c5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* .top__text span:first{
  display: blo;
} */
