.footer {
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10rem;
  top: -6rem;
  background: white;
  transform: skewY(-2deg);
}
